@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html, input, button {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
}
html, table {
    background-color: #0095db;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
table {
    border: 1px solid #164194; border-radius: 10px;
    padding: 5px;
}
input {
    width: 70px;
    background-color: transparent;
    border: 1px solid black; border-radius: 5px;
    text-align: center;
}
p {
    text-align: justify;
    max-width: 420px;
}
strong {
    font-weight: 700;
}
button {
    background-color: #164194;
    border: 1px solid black; border-radius: 5px;
    color: white;
}
footer {
    margin-top: 12pt;
    border: 3px double #164194; border-radius: 10px;
    padding: 5px;
}

.central {
    text-align: center;
}

#resultado {
    background-color: lightgray;
}
#espacador {
    height: 12pt;
}